
<div class="scrollable">
  <div class="ui clearing segment iscrizione" ng-show="!iscritto">
    <h4 class="header">Entra nel CLUB e richiedi la card!</h4>
    <p>È completamente gratuita e ti permette di ottenere tantissime promozioni e vantaggi riservati solo a te.</p>
    <form class="ui form">
      <div class="field">
        <div class="label" for="azienda">Azienda per cui si lavora*</div>
        <input placeholder="azienda*" ng-model="iscrizione.azienda" name="azienda" id="azienda"/>
      </div>
      <div class="field">
        <div class="label" for="nome">Nome*</div>
        <input placeholder="Nome*" ng-model="iscrizione.nome" name="nome" id="nome"/>
      </div>
      <div class="field">
        <div class="label" for="cognome">Cognome*</div>
        <input placeholder="Cognome*" ng-model="iscrizione.cognome" name="cognome" id="cognome"/>
      </div>
      <div class="field">
        <div class="label" for="telefono">Num di telefono*</div>
        <input placeholder="Num di telefono" ng-model="iscrizione.telefono" name="telefono" id="telefono"/>
      </div>
      <div class="field">
        <div class="label" for="email">E-mail*</div>
        <input placeholder="E-mail" ng-model="iscrizione.email" name="email" id="email"/>
      </div>
      <div class="field">
        <div class="label" for="indirizzo">Indirizzo*</div>
        <input placeholder="Indirizzo*" ng-model="iscrizione.indirizzo" name="indirizzo" id="indirizzo"/>
      </div>
      <div class="field">
        <div class="label" for="cap">CAP*</div>
        <input placeholder="CAP*" ng-model="iscrizione.cap" name="cap" id="cap"/>
      </div>
      <div class="field">
        <div class="label" for="citta">Città*</div>
        <input placeholder="Città*" ng-model="iscrizione.citta" name="citta" id="citta"/>
      </div>
      <div class="field">
        <div class="label" for="provincia">Provincia*</div>
        <select class="ui dropdown" ng-model="iscrizione.provincia" name="provincia" id="provincia">
          <option value="">Seleziona una provincia</option>
          <option value="MI">Milano</option>
          <option value="AG">Agrigento</option>
          <option value="AL">Alessandria</option>
          <option value="AN">Ancona</option>
          <option value="AO">Aosta</option>
          <option value="AQ">L'Aquila</option>
          <option value="AR">Arezzo</option>
          <option value="AP">Ascoli Piceno</option>
          <option value="AT">Asti</option>
          <option value="AV">Avellino</option>
          <option value="BA">Bari</option>
          <option value="BT">Barletta Andria Trani</option>
          <option value="BL">Belluno</option>
          <option value="BN">Benevento</option>
          <option value="BG">Bergamo</option>
          <option value="BI">Biella</option>
          <option value="BO">Bologna</option>
          <option value="BZ">Bolzano</option>
          <option value="BS">Brescia</option>
          <option value="BR">Brindisi</option>
          <option value="CA">Cagliari</option>
          <option value="CL">Caltanissetta</option>
          <option value="CB">Campobasso</option>
          <option value="CI">Carbonia Iglesias</option>
          <option value="CE">Caserta</option>
          <option value="CT">Catania</option>
          <option value="CZ">Catanzaro</option>
          <option value="CH">Chieti</option>
          <option value="CO">Como</option>
          <option value="CS">Cosenza</option>
          <option value="CR">Cremona</option>
          <option value="KR">Crotone</option>
          <option value="CN">Cuneo</option>
          <option value="EN">Enna</option>
          <option value="FM">Fermo</option>
          <option value="FE">Ferrara</option>
          <option value="FI">Firenze</option>
          <option value="FG">Foggia</option>
          <option value="FC">Forli Cesena</option>
          <option value="FR">Frosinone</option>
          <option value="GE">Genova</option>
          <option value="GO">Gorizia</option>
          <option value="GR">Grosseto</option>
          <option value="IM">Imperia</option>
          <option value="IS">Isernia</option>
          <option value="SP">La Spezia</option>
          <option value="LT">Latina</option>
          <option value="LE">Lecce</option>
          <option value="LC">Lecco</option>
          <option value="LI">Livorno</option>
          <option value="LO">Lodi</option>
          <option value="LU">Lucca</option>
          <option value="MC">Macerata</option>
          <option value="MN">Mantova</option>
          <option value="MS">Massa Carrara</option>
          <option value="MT">Matera</option>
          <option value="VS">Medio Campidano</option>
          <option value="ME">Messina</option>
          <option value="MO">Modena</option>
          <option value="MB">Monza Brianza</option>
          <option value="NA">Napoli</option>
          <option value="NO">Novara</option>
          <option value="NU">Nuoro</option>
          <option value="OG">Ogliastra</option>
          <option value="OT">Olbia Tempio</option>
          <option value="OR">Oristano</option>
          <option value="PD">Padova</option>
          <option value="PA">Palermo</option>
          <option value="PR">Parma</option>
          <option value="PV">Pavia</option>
          <option value="PG">Perugia</option>
          <option value="PU">Pesaro Urbino</option>
          <option value="PE">Pescara</option>
          <option value="PC">Piacenza</option>
          <option value="PI">Pisa</option>
          <option value="PT">Pistoia</option>
          <option value="PN">Pordenone</option>
          <option value="PZ">Potenza</option>
          <option value="PO">Prato</option>
          <option value="RG">Ragusa</option>
          <option value="RA">Ravenna</option>
          <option value="RC">Reggio Calabria</option>
          <option value="RE">Reggio Emilia</option>
          <option value="RI">Rieti</option>
          <option value="RN">Rimini</option>
          <option value="RM">Roma</option>
          <option value="RO">Rovigo</option>
          <option value="SA">Salerno</option>
          <option value="SS">Sassari</option>
          <option value="SV">Savona</option>
          <option value="SI">Siena</option>
          <option value="SR">Siracusa</option>
          <option value="SO">Sondrio</option>
          <option value="TA">Taranto</option>
          <option value="TE">Teramo</option>
          <option value="TR">Terni</option>
          <option value="TO">Torino</option>
          <option value="TP">Trapani</option>
          <option value="TN">Trento</option>
          <option value="TV">Treviso</option>
          <option value="TS">Trieste</option>
          <option value="UD">Udine</option>
          <option value="VA">Varese</option>
          <option value="VE">Venezia</option>
          <option value="VB">Verbania</option>
          <option value="VC">Vercelli</option>
          <option value="VR">Verona</option>
          <option value="VV">Vibo Valentia</option>
          <option value="VI">Vicenza</option>
          <option value="VT">Viterbo</option>
        </select>
      </div>
      <div class="field">
        <label>Con la presente autorizzo Bodio Center ad inviarmi, tramite SMS (messaggi di testo sul cellulare) ed E-MAIL comunicazioni istituzionali, notizie riguardanti le attività e le promozioni del centro</label>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input class="hidden" type="checkbox" name="privacy"/>
          <label>PRIVACY*: autorizzo l'uso dei miei dati ai sensi D.Lgs 196/03</label>
        </div>
      </div>
      <div class="field">
        <div class="ui icon red message" ng-if="validazione"> <i class="warning sign icon"></i>
          <div class="content">
            <div class="header">Si è verificato un errore</div>
            <p>{{validazione}}</p>
          </div>
        </div>
      </div>
      <div class="field">
        <button class="ui right floated primary button" ng-click="iscriviti();" ng-class="{loading:loading}">Iscriviti!</button>
        <button class="ui right floated secondary button" ng-click="apriUrl('{{privacy_policy}}');">informativa privacy</button>
      </div>
    </form>
  </div>
  <div class="ui segment iscrizione" ng-show="iscritto">
    <div class="ui basic segment" style="margin: 0 auto; position: relative;">
      <div class="ui grid">
        <div class="ui eight wide column"><a class="dcard_container" ui-sref="promozioni"><img class="dcard" src="img/promos.png"/><br/>Convenzioni a te riservate</a></div>
        <div class="ui eight wide column"><a class="dcard_container" ui-sref="clubCard"><img class="dcard" src="img/digital_card.png"/><br/>La tua digital card</a></div>
        <div class="ui eight wide column"><a class="dcard_container" ui-sref="clubPunti"><img class="dcard" src="img/points.png"/><br/>Raccolta punti</a></div>
        <div class="ui eight wide column"><a class="dcard_container" ui-sref="clubScontrini"><img class="dcard" src="img/invoice.png"/><br/>Carica scontrino</a></div>
        <div class="ui eight wide column"><a class="dcard_container" ui-sref="clubCardProfile"><img class="dcard" src="img/personal_profile.png"/><br/>Il tuo profilo</a></div>
        <div class="ui eight wide column"><a class="dcard_container" ng-click="annullaIscrizione();"><img class="dcard" src="img/unsubscribe.png"/><br/>Annulla iscrizione</a></div>
      </div>
    </div>
  </div>
</div>
<div class="ui modal">
  <div class="header">Si è certi di voler cancellare la card?</div>
  <div class="content"> 
    <p>Una volta cancellata, sarà possibile recuperare la card re-inserendo lo stesso numero di cellulare associato in precedenza.</p>
  </div>
  <div class="actions">
    <div class="small ui black deny button">Torna indietro</div>
    <div class="small ui positive red button">Cancella card</div>
  </div>
</div>