
<div class="ui page">
  <div class="ui segments">
    <div class="ui tertiary inverted segment"><a class="fluid ui labeled icon button" ng-click="apriUrl('tel:00390239323301')">Portineria Bodio Center<br><small>+39 02 3932 3301</small><i class="call icon"></i></a></div>
    <div class="ui tertiary inverted segment"><a class="fluid ui labeled icon button" ng-click="apriUrl('tel:00390510933400')">Informazioni Bodio Center Card<br><small>+39 051 0933400</small><i class="call icon"></i></a></div>
    <div class="ui tertiary inverted blue segment"><a class="fluid ui labeled icon blue button" ng-click="apriUrl('tel:0039026969')">Radiotaxi<br><small>+39 02 69 69 </small><i class="call icon"></i></a></div>
    <div class="ui tertiary inverted blue segment"><a class="fluid ui labeled icon blue button" ng-click="apriUrl('tel:0039024040')">Taxi Blu s.c.<br><small>+39 02 40 40 </small><i class="call icon"></i></a></div>
    <div class="ui tertiary inverted blue segment"><a class="fluid ui labeled icon blue button" ng-click="apriUrl('tel:0039028585')">Autoradio Taxi<br><small>+39 02 85 85</small><i class="call icon"></i></a></div>
    <div class="ui tertiary inverted blue segment"><a class="fluid ui labeled icon blue button" ng-click="apriUrl('tel:0039024000')">Radio Taxi Freccia<br><small>+39 02 4000 </small><i class="call icon"></i></a></div>
    <div class="ui tertiary inverted blue segment"><a class="fluid ui labeled icon blue button" ng-click="apriUrl('tel:00390298282247')">Milano Taxi Ok<br><small>+39 02 9828 2247 </small><i class="call icon"></i></a></div>
    <div class="ui tertiary inverted green segment"><a class="fluid ui labeled icon green button" ng-click="apriUrl('tel:803116')">ACI<br><small>803 116</small><i class="call icon"></i></a></div>
    <div class="ui tertiary inverted green segment"><a class="fluid ui labeled icon green button" ng-click="apriUrl('tel:800841148')">Anas<br><small>800 841 148</small><i class="call icon"></i></a></div>
    <div class="ui tertiary inverted green segment"><a class="fluid ui labeled icon green button" ng-click="apriUrl('tel:848782782')">Informazioni patente a punti<br><small>848 782 782</small><i class="call icon"></i></a></div>
    <div class="ui tertiary inverted red segment"><a class="fluid ui labeled icon red button" ng-click="apriUrl('tel:112')">Numero unico emergenze<br><small>112</small><i class="call icon"></i></a></div>
    <div class="ui tertiary inverted red segment"><a class="fluid ui labeled icon red button" ng-click="apriUrl('tel:118')">Pronto soccorso<br><small>118</small><i class="call icon"></i></a></div>
  </div>
</div>