
<div class="scrollable">
  <div class="ui fluid left icon action transparent input ricerca">
    <input type="search" placeholder="Cerca..." ng-model="query" id="cerca"/><i class="search icon"></i>
    <div class="ui icon button"><i class="close icon" ng-click="annulla_cerca();"></i></div>
  </div>
  <div class="orari-food" ng-show="titolo=='Food'" ng-if="ha_orario_food">
    <table class="food">
      <tr>
        <td><strong>Orari</strong></td>
        <td class="food-cell" ng-bind-html="orario_food"> </td>
      </tr>
    </table>
  </div>
  <div class="ui divided list no-margin-top">
    <div class="item" ng-show="::(!negozi.length)">
      <div class="content">
        <div class="header">Nessun esercizio in questa categoria</div>
      </div>
    </div>
    <div class="item" ng-repeat="negozio in negozi|filter:search| orderBy: 'nome' " ui-sref="negoziDetail({id:{{::negozio.id}}})" ng-click="">
      <div class="content">
        <div class="header">{{::negozio.nome}}</div>
        <div class="description" ng-repeat="categoria in ::negozio.categorie">{{::categoria.nome}}</div>
      </div>
      <div class="compact ui icon button"><i class="chevron right icon"></i></div>
    </div>
  </div>
</div>
<div class="overlay-footer" ng-show="titolo=='Food'"><img src="img/sfondo_food.png"/></div>