
<div class="ui segment">
  <div class="ui basic segment">Hai due modi per ricordare dove hai parcheggiato ...</div>
  <div class="ui grid">
    <div class="row">
      <div class="eight wide column"><img class="centrata" src="img/parcheggi_foto.jpg" width="114px"/></div>
      <div class="eight wide column">
        <div class="ui compact grid">
          <div class="row">
            <div class="sixteen wide column">Con una foto</div>
          </div>
          <div class="row">
            <div class="sixteen wide column"> <a class="ui fluid primary button" href="" ng-click="scattaFoto();">Scatta foto</a></div>
          </div>
          <div class="row">
            <div class="sixteen wide column" ng-if="fotoUrl"><a class="ui fluid button" ng-click="" ui-sref="parcheggiFoto">Mostra foto</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column"><img class="centrata" src="img/sulla_mappa.jpg"/></div>
      <div class="eight wide column">
        <div class="ui compact grid">
          <div class="row">
            <div class="sixteen wide column">Su una mappa</div>
          </div>
          <div class="row">
            <div class="sixteen wide column"> <a class="ui fluid primary button" href="" ui-sref="parcheggiMappa({editable:'true', piano:0})">Imposta punto</a></div>
          </div>
          <div class="row">
            <div class="sixteen wide column" ng-if="posizione_auto"> <a class="ui fluid button" ng-click="" ui-sref="parcheggiMappa({editable:'false', piano:{{piano}}})">Mostra mappa</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column"><a class="ui button orange fluid" href="" ng-click="cleanup()">Dimentica posizione</a></div>
    </div>
  </div>
</div>