
<div class="ui segments">
  <div class="ui segment attached fluid buttons"><a class="ui button" ui-sref="posizione">In auto</a><a class="ui button active" ui-sref="posizioneAutobus">Trasporti pubblici</a></div>
  <div class="ui basic segment come_raggiungerci">
    <div class="ui red fluid card" ng-click="apriUrl('http://bit.ly/23inA8Z');">
      <div class="content">
        <div class="header">Autobus<i class="ui right floated big red bus icon"></i></div>
        <div class="meta">100 m</div>
        <div class="description">Linee 90-91-92</div>
      </div>
      <div class="ui button attached bottom" ng-click="apriUrl('http://bit.ly/23inA8Z');"><i class="calendar icon"></i>Visualizza orari e percorsi</div>
    </div>
    <div class="ui orange fluid card" ng-click="apriUrl('http://bit.ly/23inA8Z');">
      <div class="content">
        <div class="header">Tram<i class="ui right floated big orange bus icon"></i></div>
        <div class="meta">100 m</div>
        <div class="description">Linea 2</div>
      </div>
      <div class="ui button attached bottom" ng-click="apriUrl('http://bit.ly/23inA8Z');"><i class="calendar icon"></i>Visualizza orari e percorsi</div>
    </div>
    <div class="ui yellow fluid card" ng-click="apriUrl('http://bit.ly/1Tpo4VB');">
      <div class="content">
        <div class="header">Metro<i class="ui right floated big yellow subway icon"></i></div>
        <div class="meta">1 Km</div>
        <div class="description">MM3 Maciachini</div>
      </div>
      <div class="ui button attached bottom" ng-click="apriUrl('http://bit.ly/1Tpo4VB');"><i class="calendar icon"></i>Visualizza orari e percorsi</div>
    </div>
    <div class="ui olive fluid card" ng-click="apriUrl('http://bit.ly/24tVE4s');">
      <div class="content">
        <div class="header">Linea Suburbana Treno/Metro<i class="ui right floated big olive train icon"></i></div>
        <div class="meta">250 m</div>
        <div class="description">Passante Ferroviario Linea S Lancetti</div>
      </div>
      <div class="ui button attached bottom" ng-click="apriUrl('http://bit.ly/24tVE4s');"><i class="calendar icon"></i>Visualizza orari e percorsi</div>
    </div>
    <div class="ui olive fluid card" ng-click="apriUrl('http://bit.ly/24tVE4s');">
      <div class="content">
        <div class="header">Linea Suburbana Treno/Metro<i class="ui right floated big olive train icon"></i></div>
        <div class="meta">1 Km</div>
        <div class="description">Passante Ferroviario Bovisa Linee S1-S2–S4-S10</div>
      </div>
      <div class="ui button attached bottom" ng-click="apriUrl('http://bit.ly/24tVE4s');"><i class="calendar icon"></i>Visualizza orari e percorsi</div>
    </div>
    <div class="ui green fluid card" ng-click="apriUrl('http://bit.ly/1X3YD1v');">
      <div class="content">
        <div class="header">Treni<i class="ui right floated big green train icon"></i></div>
        <div class="meta">1 Km</div>
        <div class="description">Milano Malpensa Express</div>
      </div>
      <div class="ui button attached bottom" ng-click="apriUrl('http://bit.ly/1X3YD1v');"><i class="calendar icon"></i>Visualizza orari e percorsi</div>
    </div>
    <div class="ui teal fluid card" ng-click="apriUrl('http://bit.ly/1W2Ku5x');">
      <div class="content">
        <div class="header">Aereo<i class="ui right floated big teal plane icon"></i></div>
        <div class="meta">25 min</div>
        <div class="description">Aeroporto Linate</div>
      </div>
      <div class="ui button attached bottom" ng-click="apriUrl('http://bit.ly/1W2Ku5x');"><i class="calendar icon"></i>Visualizza orari e percorsi</div>
    </div>
    <div class="ui teal fluid card" ng-click="apriUrl('http://bit.ly/1QMG4r7');">
      <div class="content">
        <div class="header">Aereo<i class="ui right floated big teal plane icon"></i></div>
        <div class="meta">45 min</div>
        <div class="description">Aeroporto Malpensa</div>
      </div>
      <div class="ui button attached bottom" ng-click="apriUrl('http://bit.ly/1QMG4r7');"><i class="calendar icon"></i>Visualizza orari e percorsi</div>
    </div>
    <div class="ui teal fluid card" ng-click="apriUrl('http://bit.ly/1SX3wtm');">
      <div class="content">
        <div class="header">Aereo<i class="ui right floated big teal plane icon"></i></div>
        <div class="meta">50 min</div>
        <div class="description">Aeroporto Orio al Serio</div>
      </div>
      <div class="ui button attached bottom" ng-click="apriUrl('http://bit.ly/1SX3wtm');"><i class="calendar icon"></i>Visualizza orari e percorsi</div>
    </div>
  </div>
</div>