
<div class="ui segment no-padding">
  <div class="content"><img class="promozione_img" ng-src="http://app.bodiocenter.com{{promozione.immagineThumb}}" ng-if="promozione.immagineThumb"/><img class="promozione_img" ng-src="http://app.bodiocenter.com{{promozione.negozio.fotoThumb}}" ng-if="!promozione.immagineThumb &amp;&amp; promozione.negozio.fotoThumb"/>
    <div class="header padding">
      <div class="ui basic segment">
        <h3 class="header">{{promozione.nome}}</h3>
        <div class="ui orange label" ng-if="::promozione.negozio.preferito"><i class="ui star icon"></i>preferito</div>
        <div class="small">dal {{promozione.data_inizio|formattaData}} al {{promozione.data_fine|formattaData}}</div>
      </div>
    </div>
    <div class="description padding">
      <div class="ui basic segment">
        <p ng-bind-html="promozione.descrizione|linky:'_blank'" style="white-space: pre-wrap;"></p>
      </div><a class="ui fluid icon orange button" href="http://app.bodiocenter.com{{promozione.allegato}}" target="_system" ng-show="promozione.allegato">dettagli<i class="ui chevron right icon"></i></a>
      <div ng-if="iscritto">
        <div class="ui basic segment" ng-switch="promozione.stato_prenotazione"><a class="ui fluid primary button prenotazione" ng-switch-when="con_url" ng-click="apribrowserinterno(promozione.url_richiesta_servizio);">Richiedi il servizio in convenzione</a><a class="ui fluid primary button prenotazione" ng-switch-when="prenotabile" ng-click="prenota(promozione);">Richiedi il servizio in convenzione</a><a class="ui fluid primary button prenotazione" ng-switch-when="con_telefono" ng-click="apriUrl('tel:'+promozione.negozio.telefono);">Chiama per richiedere il servizio</a><a class="ui fluid primary button prenotazione" ng-switch-when="con_email" ng-click="apriUrl('mailto:'+promozione.negozio.email);">Scrivi email per richiedere il servizio</a>
          <div class="ui info message" ng-switch-when="prenotata">
            <div class="header">Ti aspettiamo!</div>
            <p>Recati presso {{promozione.negozio.nome}} e approfitta di questa occasione!</p><a class="ui fluid orange button prenotazione" ng-click="rimuovi(promozione);">Annulla richiesta</a>
          </div>
        </div>
      </div>
      <div ng-if="!iscritto">
        <div class="ui basic segment"><a class="ui fluid green button prenotazione" ui-sref="club">Richiedi la card</a></div>
      </div>
    </div>
  </div>
</div>