
<div class="scrollable">
  <div class="ui equal width center aligned padded grid" id="schede" ng-if="ha_promozioni_esterne">
    <div class="row bordered buttons">
      <div class="eight wide column"><a class="ui button fluid promozioni" ui-sref="promozioniClubInterne">
          <div class="ui teal horizontal label" ng-if="!!promozioni_interne.length">
            <div class="number">{{promozioni_interne.length}}</div>
          </div>Promozioni interne</a></div>
      <div class="eight wide column"><a class="ui button fluid posizione" ui-sref="promozioniClubEsterne"> 
          <div class="ui orange horizontal label" ng-if="!!promozioni_esterne.length">
            <div class="number">{{promozioni_esterne.length}}</div>
          </div>Promozioni esterne</a></div>
    </div>
  </div>
  <div class="ui divided list no-margin-top">
    <div class="item volantini" ng-if="!!volantini.length" ui-sref="volantiniList" ng-click="">
      <div class="content">
        <div class="header">Sfoglia i volantini!</div>
      </div>
      <div class="compact ui icon button"><i class="chevron right icon"></i></div>
    </div>
    <div class="item" ng-if="!promozioni.length">
      <div class="content">
        <div class="header">Nessuna promozione al momento</div>
      </div>
    </div>
    <div class="item" ng-repeat="promozione in ::promozioni|orderBy: 'negozio.nome' " ui-sref="promozioneDetail({id:{{::promozione.id}}})" ng-click="" ng-class="::({totem:promozione.cat_promo=='Solo per totem',card:promozione.solo_per_possessori_card})">
      <div class="ui image"><img data-src="http://www.shoppingcenterconnect.it{{::promozione.immagineThumb}}" src="img/loader-mini.gif" ng-if="::promozione.immagineThumb" width="100px"/><img data-src="http://www.shoppingcenterconnect.it{{::promozione.negozio.fotoThumb}}" src="img/loader-mini.gif" ng-if="::(!promozione.immagineThumb &amp;&amp; promozione.negozio.fotoThumb)" width="100px"/></div>
      <div class="content">
        <div class="header"> <i class="ui star icon" ng-if="::promozione.negozio.preferito"></i>{{::promozione.negozio.nome}}<i class="ui star icon" ng-if="::promozione.negozio.preferito"></i></div>
        <div class="small">{{::promozione.data_completa}}</div>
        <div class="description">{{::promozione.nome}}</div>
      </div>
      <div class="compact ui icon button"><i class="chevron right icon"></i></div>
    </div>
  </div>
</div>