
<div class="ui segments no-margin-bottom">
  <div class="ui segment attached fluid buttons"><a class="ui button active" ui-sref="serviziAuto">Nel centro</a><a class="ui button" ui-sref="serviziAltro">Fuori dal Centro</a></div>
  <div class="ui segment attached fluid buttons"><a class="ui button" ui-sref="serviziFood">Ristorazione e bar</a></div>
</div>
<div class="scrollable">
  <div class="ui divided list no-margin-top">
    <div class="item">
      <div class="content"> 
        <div class="header">Vigilanza h24  - Control Room</div>
      </div>
      <div class="compact ui icon button"><i class="chevron right icon"></i></div>
    </div>
    <div class="item" ng-click="apriUrl('tel:00390239323301');">
      <div class="content"> 
        <div class="header">Portineria</div>
      </div>
      <div class="compact ui icon button"><i class="chevron right icon"></i></div>
    </div>
    <div class="item">
      <div class="content"> 
        <div class="header">Parcheggio interrato: oltre 600 posti</div>
      </div>
      <div class="compact ui icon button"><i class="right icon"></i></div>
    </div>
    <div class="item" ng-click="apriservizio('negoziDetail', {id:9});">
      <div class="content"> 
        <div class="header">Ristorazione e Bar Caffetteria</div>
      </div>
      <div class="compact ui icon button"><i class="chevron right icon"></i></div>
    </div>
    <div class="item" ng-click="apriservizio('club');">
      <div class="content"> 
        <div class="header">Bodio Digital Card</div>
      </div>
      <div class="compact ui icon button"><i class="chevron right icon"></i></div>
    </div>
  </div>
</div>